body {
    background-image: url("bg.jpg");
    background-color: rgb(1, 19, 33);
            color: white;
}
.container {
    text-align: center;
    margin: 0 auto;
    width:50%
}
img {
    width: 80%;
    height: 80%;
}
li {
    list-style-type: none;
}